fastapi
uvicorn
python-dotenv
requests
pydantic

firebase-admin
google-cloud-firestore

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai

langgraph
langchain
openai

rapidfuzz

email-validator

pytesseract
opencv-python
Pillow

python-multipart

pandas
numpy

streamlit

twilio

httpx
anyio
starlette